<h1>
    Add new article
</h1>

<p class="step-description">
    Lorem ipsum dolor site amet lorem ipsum dolor site amet site amet lorem ipsum dolor
    site amet site amet lorem ipsum dolor site amet
    site amet lorem ipsum dolor site amet
    site amet lorem ipsum dolor site amet
</p>

