<div class="row">
    <div class="col-xs-12">

        <h1>
            {{ _ "settlenewarticle-title" }}
        </h1>

        <p class="step-description">
            {{ _ "settlenewarticle-intro-text-step-1" }}
        </p>

    </div>
</div>

<div class="row settlenewarticle-step-1">
    <div class="col-xs-12">

        <form class="form-horizontal" id="settlenewarticle-form-step-1" method="post">

            <div class="form-group">
                <label class="col-sm-1 control-label">Category</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{ category_name }}</p>
                </div>
            </div>

            {{# country_name }}
            <div class="form-group">
                <label class="col-sm-1 control-label">Country</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{ . }}</p>
                </div>
            </div>
            {{/country_name}}

            {{# state_name }}
            <div class="form-group">
                <label class="col-sm-1 control-label">State</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{ . }}</p>
                </div>
            </div>
            {{/state_name}}

            {{# city_name }}
            <div class="form-group">
                <label class="col-sm-1 control-label">City</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{ . }}</p>
                </div>
            </div>
            {{/city_name}}

            <div class="form-group">
                <label for="settlenewarticle_title" class="col-sm-1 control-label">Title</label>
                <div class="col-sm-10">
                    <input
                            data-category-id="{{ category_id }}"
                            data-geo-ids="{{ geo_ids }}"
                            class="form-control" type="text" name="title_text" id="settlenewarticle_title" required />
                    <!--<span id="helpBlock" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                </div>
            </div>

            <div id="similar-articles" class="col-sm-10 col-sm-offset-1" >
                <div class="similar-articles-heading">
                </div>
                <div class="row">
                </div>
            </div>

            <input type="hidden" name="step" value="2" />
            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-10">
                    <button id="step1submit" type="submit" class="btn btn-primary" disabled >Proceed</button>
                </div>
            </div>

        </form>

    </div>
</div>